$border-radius: 0px;
$btn-border-radius: 4px;
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$input-btn-font-family: var(
  --pure-material-font,
  "Roboto",
  "Segoe UI",
  BlinkMacSystemFont,
  system-ui,
  -apple-system
);

/* colors */

$green: #66e566;
$red: #ff4d4d;
$blue: #61dafb;
$grey: #92abc4;
$info: #1affff;
$light: white;

/* own colors */

$dark-bg: #20232a;
$mid-dark-bg: #24282e;
$light-dark-bg: #282c34;
$light-bg: #2c313a;

$form-file-button-bg: $light-dark-bg;
$form-file-button-color: $light;

:root {
  --dark-bg: #{$dark-bg};
  --mid-dark-bg: #{$mid-dark-bg};
  --light-dark-bg: #{$light-dark-bg};
  --light-bg: #{$light-bg};
  --color-white: white;
  --border-radius: 10px;
  font-family: var(
    --pure-material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  ) !important;
}

/* Botons override */
.btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: var(--border-radius);
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: var(--light-bg) !important;
  background-color: $blue, 33, 150, 243;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(
    --pure-material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.btn::-moz-focus-inner {
  border: none;
}

/* Overlay */
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $blue, 255, 255, 255;
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: white;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.btn:hover,
.btn:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover::before {
  opacity: 0.08;
}

.btn:focus::before {
  opacity: 0.24;
}

.btn:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.btn:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.btn:disabled {
  color: $light, 0, 0, 0, 0.38;
  background-color: $blue, 0, 0, 0, 0.12;
  box-shadow: none;
  cursor: initial;
}

.btn:disabled::before {
  opacity: 0;
}

.btn:disabled::after {
  opacity: 0;
}

/* alert */
.alert {
  border: 0 !important;
  border-left: 6px solid !important;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
